temp_*.json
teste_validacao.json
log.txt
pingAlto.txt
pingCR.txt
pingMedio.txt
pingNoRules.txt
pingWithRules.txt
resultados_Baseline/
resultados_Medio/
resultados_Alto/
4.sh
faltou.sh
Configure
Por
Inicialize
Processando
RTT
.DS_Store
pycache/
*.pyc
